# TAEval Binaries
TAEval-Server/TAEval-Server
TAEval-Client/TAEval-Client

# TAEval Qt Compiles UI Headers
TAEval-Client/ui_*.h

# C++ objects and libs

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.so*

# Compiled Static libraries
*.lai
*.la
*.a

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*
build-*

