# TAEval Binaries
TAEval-Server/TAEval-Server
TAEval-Client/TAEval-Client
TAEval-Client/TAEval-Client.app/

# TAEval Qt Compiles UI Headers
TAEval-Client/ui_*.h

# TAEval Database
**/db/*.db

# C++ objects and libs

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.so*

# Compiled Static libraries
*.lai
*.la
*.a

# Qt-es

*.pbproj/
*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*
build-*

# MAC OS X

.DS_Store

